.card {
    box-shadow: 3px 3px 6px rgba(255, 255, 255, 0.3);
    margin: 2vh auto;
    border-radius: 10px;
    width: 50vh;
    background-color: var(--Mint);

  }
  .cat_img {
    
    border-radius: 7px 7px 0 0;
    width: 50vh;
  }
  
  .cat_fact {
    
    padding: 2vh 4vh 5vh;
    font-weight: 500;
  }
  