#title{
    text-align: left;
    margin-left: 20px;
    font-size: 100px;
}
#protitle{
    text-align: left;
    margin-left: 20px;
    font-size: 50px;
}

#descrip{
    text-align: left;
    margin-left: 20px;
    font-size: 20px;
}

#ptitle{

    font-family: 'Poppins', sans-serif;
  }

 
 