footer {
  background-color: #1C1C1C; 
  color: white; 
  padding: 20px;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid white; 
}

.footer-section {
  flex: 1;
  margin-right: 20px;
}

h3 {
  font-size: 20px;
}

.subtitle {
  margin-top: 10px;
}

p {
  margin: 5px 0;
}
