header {
    background-color: #1c1c1c; 
    padding: 10px; 
    color: white; 
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  nav {
    display: flex;
    justify-content: space-between;
  }
  
  ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  li {
    margin-right: 20px;
  }
  
  a {
    text-decoration: none;
    color: white;
  }
  
  .brand {
    font-size: 18px;
    font-weight: bold;
  }
  