:root {
  font-family: Inter, system-ui, -apple-system, BlinkMacSystemFont;
  line-height: 1.3;
  font-weight: 600;
  
    --Nav: #6992f0;
    --Lime: #262065;
    --Teal: #87b8ad;
    --Mint: #1b2359;
    --Light: #E7DFDD;

  color: var(--Nav);
  background-color: var(--Light);
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.3em;
  line-height: 1.0;
}

#app {
  max-width: 1180px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.Header{
  padding: 1vh;
  color: var(--Navy);
}

.Gifcat{
  margin: 6vh;
  width: 35vh;
}